.header{
 display: flex;
 height: 65px;
 background: rgb(18,146,111);
}
.div1{
    width: 50%;
}

.div1 button {
    border: 1px solid blanchedalmond;
    padding: 17px 45px;
    font-size: 20px;
    font-weight: 900;
    background: cadetblue;
}
.div2{
    width: 50%;
    text-align: center;
}